footer
  .container.text-center
    p.pull-left © 2014 MaviDurak IO
    ul.pull-right.list-inline
      li
        a(href='https://github.com/mavidurakio') GitHub
      li
        a(href='https://twitter.com/mavidurakio') Twitter