extends layout

block content
  h1 maviDurak IO
  p.lead geliştirici topluluğu
  hr
  .row
    .col-sm-6
      h2 PassportJS ile Authentication
      p Passport.js Node JS için geliştirilmiş authentication(yetkilendirme) modülüdür, bu modülü kullanarak destek veren tüm sosyal ağ hesaplarına erişebilir, web uygulamalarınızda oturum denetimini bu sosyal ağların aracılığıyla yönetebilirsiniz.
      p
        a.btn.btn-default(href='#', role='button') Devamını oku »
    .col-sm-6
      h2 PassportJS ile Authentication
      p Passport.js Node JS için geliştirilmiş authentication(yetkilendirme) modülüdür, bu modülü kullanarak destek veren tüm sosyal ağ hesaplarına erişebilir, web uygulamalarınızda oturum denetimini bu sosyal ağların aracılığıyla yönetebilirsiniz.
      p
        a.btn.btn-default(href='#', role='button') Devamını oku »
    .col-sm-6
      h2 PassportJS ile Authentication
      p Passport.js Node JS için geliştirilmiş authentication(yetkilendirme) modülüdür, bu modülü kullanarak destek veren tüm sosyal ağ hesaplarına erişebilir, web uygulamalarınızda oturum denetimini bu sosyal ağların aracılığıyla yönetebilirsiniz.
      p
       a.btn.btn-default(href='#', role='button') Devamını oku »
    .col-sm-6
      h2 PassportJS ile Authentication
      p Passport.js Node JS için geliştirilmiş authentication(yetkilendirme) modülüdür, bu modülü kullanarak destek veren tüm sosyal ağ hesaplarına erişebilir, web uygulamalarınızda oturum denetimini bu sosyal ağların aracılığıyla yönetebilirsiniz.
      p
       a.btn.btn-default(href='#', role='button') Devamını oku »